body {
	padding: 60px 30px;
}
footer { width: 100%; background-color: #eee; margin-top: 150px; height: 40px; padding: 7px;  
         text-align: center; font-style: italic; color: #888; border-top: 1px solid #ddd; }
.highlight { background-color: yellow; }
.facetcount {font-size: 85%; color: #9a9a9a;}