{% extends 'base.html' %}

{% block container %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Nederlands Indisch Lexicon</h1>
        <p>Achtergrond informatie en voorbeeld woorden, moet nog geschreven worden.</p>
        <p><a class="btn btn-primary btn-large" href="/help/about">Meer weten? &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2><a href="/search/?q=kabaai">kabaai</a></h2>
           <p>"De meisjes kwamen uit heur kamer, opgewekt en vriendelijk glimlachend, zachtjes plukkend en trekkend aan de punten van heur krijtwitte kabaai's, om ze recht te schikken."</p>
        </div>
        <div class="span4">
          <h2><a href="/trefwoord/9016?q=tempo%20doeloe">tempo doeloe</a></h2>
           <p>"Met de totoks, die zich in de tijd van tempo doeloe veel sterker aanpasten aan de Indische omstandigheden dan later het geval was, vormden de welgestelde Indo's een maatschappelijke groepering die bij benadering dezelfde levenswijze kenden."</p>
       </div>
        <div class="span4">
          <h2><a href="/search/?q=arak">arak</a></h2>
          <p>"Als het niet zo erg geweest was, gewoon zoveel zweep- of rotanslagen, goot zij arak, de allerbeste arak van meneer Generaals zelf over de wonden, dat deed wel pijn, erg, maar het was medicijn, dan gingen de wonden niet zweren."</p>
        </div>
      </div>
{% endblock container %}