{% extends 'base.html' %}

{% block container %}
    <div class="row">

      <div class="hero-unit">
        <h1>Nederlands Indisch Lexicon</h1>
        <br>
        <form action="/search/" method="GET" id="searchform">
          Type hier een woord om te zoeken:
            <input class="search-query span4" type="text" 
                   value="{% if q %}{{q}}{% endif %}" id="q" name="q">
            {% csrf_token %}            
        </form>
      </div>
    </div>

    <div class="row">
        <h3>Tips bij het zoeken</h3>
        
        <div class="span6">          
          <ul>
            <li>Om naar een deel van een woord te zoeken, gebruik een sterretje voor het ontbrekend deel.
              bijv. <a href="/search/?q=ada*">ada*</a>
            </li>
            <li>Om naar een zin of woorden aan elkaar te zoeken gebruik aanhalingstekens, bijv. <a href="/search/?q=%22tempo%20doeloe%22">"tempo doeloe"</a></li>            
          </ul>
        </div>

        <div class="span6">
          <ul>
            <li>Door naar losse woorden te zoeken, bijv. <a href="/search/?q=tempo%20doeloe">tempo doeloe</a> word er een OF gedaan tussen de woorden. Dus de woord 'tempo' OF de woord 'doeloe' in de text.</li>
            <li>Om een EN relatie tussen woorden in de text te doen, gebruik AND, bijv. <a href="/search/?q=brood%20AND%20rijst">brood AND rijst</a></li>
          </ul>
        </div>

    </div>


{% endblock container %}

{% block searchbar %}{% endblock searchbar %}
