{% extends 'base.html' %}
{% load nedind_util %}

{% block container %}
<div class="row">

    <div class="span2 well">
        <ul class="nav nav-list">
        {% for f, fv in results.facets.items %}
            <li class="nav-header"><a href="#">{{f}}</a></li>
            {% for ft in fv.terms %}
                <li><input {% filter_checkbox filters f ft.term %}type="checkbox" name="{{f}}" 
                    class="{{f}}filter filterbox" data="{{ft.term}}">{{ft.term}} ({{ft.count}})</li>
            {% endfor %}
        {% endfor %} 
        </ul>
    </div>

    <div class="span8">
    <h1>Search results {{results.count}} found</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>taal</th>
                <th>sfeer</th>
                <th>soort</th>
            </tr>
        </thead>
        <tbody>
            {% for r in results %}
            <tr>
                <td><a href="/trefwoord/{{r.trefnum}}">{{r.trefwoord}}</a></td>
                <td>{{r.taal}}</td>
                <td>{{r.sfeer}}</td>
                <td>{{r.woordsoort}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>


{% endblock container %}