{% extends 'base.html' %}
{% load nedind_util %}

{% block container %}
<div class="row">

    <div class="span4 well">
        <ul class="nav nav-list">
        {% for f, fv in results.facets.items %}            
            <li class="nav-header">
                {{f}} <a href="#" rel="{{f}}" title="Filter Wissen" class="pull-right wisfilter">&middot;<i class="icon-remove icon-white"></i>&middot;</a>
            </li>
            {% for ft in fv.terms|dictsort:"term" %}
                <li><input {% filter_checkbox filters f ft.term %}type="checkbox" name="{{f}}" 
                    title="{{ft.term}}" class="{{f}}filter filterbox" data="{{ft.term}}">  {{ft.term|exp_afk}}
                    &nbsp;<span class="facetcount">{{ft.count}}</span></li>
            {% endfor %}
        {% endfor %} 
        </ul>
    </div>

    <div class="span7">
        <div>
                <h4>{{results.count}} gevonden</h4>

        {% if paginator.num_pages > 1 %}
        <div class="pagination pull-right">
            <ul>
                {% if data.has_previous %}<li>
                    <a href="{{pageurl}}&page={{ data.previous_page_number }}">previous</a>
                </li>{% endif %}
                {% if data.number > 6 %}
                <li>
                    <a href="{{pageurl}}&page=1">...</a>
                </li>
                {% endif %}

                {% for pp in pagerange %}
                <li{% if data.number == pp %} class="active"{% endif %}>
                    <a href="{{pageurl}}&page={{pp}}">
                        {{pp}}
                    </a>
                </li>    
                {% endfor %}
                {% if paginator.num_pages > 10 and paginator.num_pages != data.number %}
                <li>
                    <a href="{{pageurl}}&page={{paginator.num_pages}}">...</a>
                </li>
                {% endif %}
                {% if data.has_next %}<li>
                    <a href="{{pageurl}}&page={{ data.next_page_number }}">next</a>
                </li>{% endif %}
            </ul>  
        </div>
        {% endif %}

        </div>
    
    
    <table class="table table-striped">
        <thead>
            <tr style="background-color: #dfd">
                <th><a href="{{pageurl_nosort}}&sort=trefwoord">Woord</a></th>
                <th><a href="{{pageurl_nosort}}&sort=taal">Taal</a></th>
                <th><a href="{{pageurl_nosort}}&sort=sfeer">Sfeer</a></th>
                <th><a href="{{pageurl_nosort}}&sort=woordsoort">Woordsoort</a></th>
            </tr>
        </thead>
        <tbody>
            {% for r in data %}
            <tr>
                <td><a href="/trefwoord/{{r.trefnum}}?q={{q}}">{{r.trefwoord}}</a></td>
                <td><a href="/search/?q={{q}}&taal={{r.taal}}">{{r.taal|exp_afk}}</a></td>
                <td><a href="/search/?q={{q}}&sfeer={{r.sfeer}}">{{r.sfeer|exp_afk}}</a></td>
                <td><a href="/search/?q={{q}}&woordsoort={{r.woordsoort}}">{{r.woordsoort|exp_afk}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% if paginator.num_pages > 1 %}
        <div class="pagination pull-right">
            <ul>
                {% if data.has_previous %}<li>
                    <a href="{{pageurl}}&page={{ data.previous_page_number }}">previous</a>
                </li>{% endif %}
                {% if data.number > 6 %}
                <li>
                    <a href="{{pageurl}}&page=1">...</a>
                </li>
                {% endif %}

                {% for pp in pagerange %}
                <li{% if data.number == pp %} class="active"{% endif %}>
                    <a href="{{pageurl}}&page={{pp}}">
                        {{pp}}
                    </a>
                </li>    
                {% endfor %}
                {% if paginator.num_pages > 10 and paginator.num_pages != data.number %}
                <li>
                    <a href="{{pageurl}}&page={{paginator.num_pages}}">...</a>
                </li>
                {% endif %}
                {% if data.has_next %}<li>
                    <a href="{{pageurl}}&page={{ data.next_page_number }}">next</a>
                </li>{% endif %}
            </ul>  
        </div>
        {% endif %}
    
    </div>
</div>


{% endblock container %}
